{% extends "layout.html" %}
{% block content %}
<h1>            </h1>
<div class="content-section">
    <h2 class="card-title"><b>To-Do-List Version 1.0</b></h2>
    <h2 class="card-subtitle mb-2 text-muted">The features of page are:</h2>
    <p class="card-text"><b>1.Register</b> Register and create your personal profile with your personal To-Do-List</p>
    <p class="card-text"><b>2.Login-</b> Login with your credentials to acess your To-Do-List</p>
    <p class="card-text"><b>3.Add-</b> You can add events to your schedule.</p>
    <p class="card-text"><b>4.Complete-</b>  Strikes off the completed events from the list.</p>
    <p class="card-text"><b>5.Delete-</b> It removes all the completed tasks from the list.</p>
</div>
    
{% endblock content %}